* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100dvh;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
}

.header {
    background: #6a1b9a;
    color: white;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.header .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    font-weight: 500;
    font-family: cursive !important;
}
.header .logo {
    width: 50px;
    height: 50px;
    border: 3px solid #441057;
}
.header .logor {
    height: 35px;
    display: block !important;
    position: absolute !important;
    right: 20px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    z-index: 10;
}

.footer {
    background: #6a1b9a;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 10px;
}
.header {
    padding: 0 15px;
}
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  padding: 16px;
}

.kafelek {
    height: 250px;
    width: 250px;
    border: 5px solid grey;
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
}
img {
    height: 200px;
}
